<section class="clients-says">
  <div class="container clients-says-container">
    <h2 class="price-title">What Clients Say</h2>
    <p class="clients-says-txt">
      Problems trying to resolve the conflict between the two major realms of
      Classical physics: Newtonian mechanics
    </p>
    <ul class="clients-says-list">
      <li class="clients-says-list-item">
        <img
          src="../images/marks.png"
          alt="marks"
          width="106"
          height="18"
          class="clients-says-list-item-mark"
        />
        <p class="clients-says-list-item-txt">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="clients-says-list-item-subcontainer">
          <img
            src="../images/portret/wahid_ari_mark.png"
            alt="feedback client"
            width="50"
            height="50"
          />
          <div class="clients-says-list-item-subcontainer-txt">
            <h4 class="clients-says-list-item-subcontainer-title">Wahid Ari</h4>
            <p class="subcontainer-txt">Designer</p>
          </div>
        </div>
      </li>
      <li class="clients-says-list-item">
        <img
          src="../images/marks.png"
          alt="marks"
          width="106"
          height="18"
          class="clients-says-list-item-mark"
        />
        <p class="clients-says-list-item-txt">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="clients-says-list-item-subcontainer">
          <img
            src="../images/portret/wahid_ari_second_mark.png"
            alt="feedback client"
            width="50"
            height="50"
          />
          <div class="clients-says-list-item-subcontainer-txt">
            <h4 class="clients-says-list-item-subcontainer-title">Wahid Ari</h4>
            <p class="subcontainer-txt">Designer</p>
          </div>
        </div>
      </li>
      <li class="clients-says-list-item">
        <img
          src="../images/marks.png"
          alt="marks"
          width="106"
          height="18"
          class="clients-says-list-item-mark"
        />
        <p class="clients-says-list-item-txt">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>
        <div class="clients-says-list-item-subcontainer">
          <img
            src="../images/portret/wahid_ari_third_mark.png"
            alt="feedback client"
            width="50"
            height="50"
          />
          <div class="clients-says-list-item-subcontainer-txt">
            <h4 class="clients-says-list-item-subcontainer-title">Wahid Ari</h4>
            <p class="subcontainer-txt">Designer</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
