<section class="collaborative">
  <div class="container collaborative-container">
    <img
      src="/images/section_image/collaborative.png"
      alt="Collaborative"
      width="350"
      height="291"
    />
    <div class="collaborative-subcontainer">
      <h2 class="section-title">
        <span class="title-design">Optimisation for</span> Collaborative
      </h2>
      <p class="txt">
        Few would argue that, despite the advancements of feminism over the past
        three decades, women still face a double standard when it comes to their
        behavior.
      </p>
      <ul>
        <li>
          <h3 class="management-subtitle">Accessory makers</h3>
          <p class="management-subtxt design-subtxt">
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li>
          <h3 class="management-subtitle">Alterationists</h3>
          <p class="management-subtxt">
            If you are looking for a new way to promote your business that won’t
            cost you more money,
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
