<section class="hero">
  <div class="container hero-container">
    <img
      src="../images/section_image/hero.png"
      alt="Peoples"
      width="338"
      height="311"
    />
    <div class="hero-title-marg">
      <h1 class="hero-title">Work at the speed of thought</h1>
      <div class="hero-txt-width">
        <p class="hero-txt">
          Tools, tutorials, design and innovation experts, all in one place! The
          most intuitive way to imagine your next user experience.
        </p>
      </div>
      <ul class="hero-btn-list">
        <li><button type="button" class="btn-gs">Get started</button></li>
        <li class="watch-video-btn">
          <button type="button" class="btn-wtv">
            <span class="triangle-container"
              ><svg class="triangle-on-btn" width="16" height="18">
                <use
                  href="../images/icons.svg#icon-triangle"
                ></use></svg></span
            >Watch the Video
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
