<section class="management">
        <div class="container management-container">
          <img
            src="/images/section_image/management.png"
            alt="Management"
            width="349"
            height="306"
          />
          <div class="management-subcontainer">
            <h2 class="section-title">
              <span class="title-design">Effortless Validation for</span>
              Management
            </h2>
            <p class="txt">
              The Myspace page defines the individual, his or her
              characteristics, traits, personal choices and the overall
              personality of the person.
            </p>
            <ul>
              <li>
                <h3 class="management-subtitle">Accessory makers</h3>
                <p class="management-subtxt design-subtxt">
                  While most people enjoy casino gambling, sports betting,
                  lottery and bingo playing for the fun
                </p>
              </li>
              <li>
                <h3 class="management-subtitle">Alterationists</h3>
                <p class="management-subtxt">
                  If you are looking for a new way to promote your business that
                  won’t cost you more money,
                </p>
              </li>
            </ul>
          </div>
        </div>
      </section>