<section class="price">
        <div class="container price-container">
          <h2 class="price-title">Price Table</h2>
          <p class="price-txt">We offer competitive price</p>
          <ul class="price-list">
            <li class="price-list-items">
              <h3 class="price-list-items-title">Free</h3>
              <p class="price-list-items-txt">Brief price description</p>
              <div class="price-list-items-subcontainer">
                <h4 class="price-value">0</h4>
                <div class="prise-value-subcontainer">
                  <p class="price-value-currency">$</p>
                  <p class="price-value-period">Per / month</p>
                </div>
              </div>
              <ul class="price-list-items-list">
                <li>
                  <h5 class="price-list-items-subtitle">Only 2 Operators</h5>
                </li>
                <li>
                  <h5 class="price-list-items-subtitle">Notifications</h5>
                </li>
                <li>
                  <h5 class="price-list-items-subtitle">Landing Pages</h5>
                </li>
              </ul>
              <button type="button" class="order-now-btn">Order Now</button>
            </li>
            <li class="price-list-items green-item">
              <h3 class="price-list-items-title white-title">Standard</h3>
              <p class="price-list-items-txt white-txt">
                Brief price description
              </p>
              <div class="price-list-items-subcontainer">
                <h4 class="price-value white-txt">5</h4>
                <div class="prise-value-subcontainer">
                  <p class="price-value-currency white-txt">$</p>
                  <p class="price-value-period grey-txt">Per / month</p>
                </div>
              </div>
              <ul class="price-list-items-list white-txt">
                <li>
                  <h5 class="price-list-items-subtitle">5+ Operators</h5>
                </li>
                <li>
                  <h5 class="price-list-items-subtitle">Notifications</h5>
                </li>
                <li>
                  <h5 class="price-list-items-subtitle">Landing Pages</h5>
                </li>
              </ul>
              <button type="button" class="order-now-btn white-btn">
                Order Now
              </button>
            </li>
            <li class="price-list-items">
              <h3 class="price-list-items-title">Premium</h3>
              <p class="price-list-items-txt">Brief price description</p>
              <div class="price-list-items-subcontainer">
                <h4 class="price-value">10</h4>
                <div class="prise-value-subcontainer">
                  <p class="price-value-currency">$</p>
                  <p class="price-value-period">Per / month</p>
                </div>
              </div>
              <ul class="price-list-items-list">
                <li>
                  <h5 class="price-list-items-subtitle">10+ Operators</h5>
                </li>
                <li>
                  <h5 class="price-list-items-subtitle">Notifications</h5>
                </li>
                <li>
                  <h5 class="price-list-items-subtitle">Landing Pages</h5>
                </li>
              </ul>
              <button type="button" class="order-now-btn">Order Now</button>
            </li>
          </ul>
        </div>
      </section>