<section class="process">
  <div class="container process-container">
    <div class="process-title-container">
      <h2 class="process-title">Quick & Easy Process</h2>
      <p class="process-txt">
        Do you require some help for your project: Conception workshop,
        prototyping, marketing strategy, landing page, Ux/UI?
      </p>
    </div>
    <ul class="process-list">
      <li class="process-list-item">
        <img
          src="../images/portret/red_avatar.png"
          alt="photo first developer"
          width="98"
          height="98"
        />
        <p class="process-item-txt">I can take care of your pitch</p>
      </li>
      <li class="process-list-item reversed-item green-order-item">
        <img
          src="../images/portret/green_avatar.png"
          alt="photo third developer"
          width="98"
          height="98"
        />
        <p class="process-item-txt">I can take care of your pitch</p>
      </li>
      <li class="process-list-item blue-order-item">
        <img
          src="../images/portret/blue_avatar.png"
          alt="photo fourth developer"
          width="98"
          height="98"
        />
        <p class="process-item-txt">I can help marketing strategy</p>
      </li>
      <li class="process-list-item reversed-item violet-order-item">
        <img
          src="../images/portret/violet_avatar.png"
          alt="photo second developer"
          width="98"
          height="98"
        />
        <p class="process-item-txt">I can prototype your app</p>
      </li>
    </ul>
    <button class="btn-cou" type="button">Contact our expert</button>
  </div>
</section>
