<section class="strategies">
  <div class="container strategies-container">
    <h2 class="strategies-title">Contents Strategies</h2>
    <p class="strategies-txt">
      We focus on ergonomics and meeting you where you work. It's only a
      keystroke away.
    </p>
    <ul class="strategies-list">
      <li class="strategies-list-item">
        <img
          src="../images/thinkink_strategy.jpg"
          alt="success thinking strategy"
          width="350"
          height="185"
        />
        <div class="strategies-item-subcontainer">
          <p class="article-author">
            By <span class="article-author-design">Wahid Ari</span> | 03 March
            2019
          </p>
          <h3 class="article-name">
            Increasing Prosperity With Positive Thinking
          </h3>
        </div>
      </li>
      <li class="strategies-list-item">
        <img
          src="../images/motivation_strategy.jpg"
          alt="motivation strategy"
          width="350"
          height="185"
        />
        <div class="strategies-item-subcontainer">
          <p class="article-author">
            By <span class="article-author-design">Wahid Ari</span> | 03 March
            2019
          </p>
          <h3 class="article-name green-article-name">
            Motivation Is The First Step To Success
          </h3>
        </div>
      </li>
      <li class="strategies-list-item">
        <img
          src="../images/success_strategies.jpg"
          alt="success steps stratedy"
          width="350"
          height="185"
        />
        <div class="strategies-item-subcontainer">
          <p class="article-author">
            By <span class="article-author-design">Wahid Ari</span> | 03 March
            2019
          </p>
          <h3 class="article-name">
            Success Steps For Your Personal Or Business
          </h3>
        </div>
      </li>
    </ul>
  </div>
</section>
