<section class="support">
  <div class="container support-container">
    <img
      src="/images/section_image/support.png"
      alt="Customer support"
      width="350"
      height="320"
    />
    <div class="support-subcontainer">
      <h2 class="section-title-support">
        <span class="title-design">Easier decision making for</span>
        Customer Support
      </h2>
      <p class="txt">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="support-list">
        <li class="support-list-item">
          <span class="check-icon-design orange-check">
            <svg class="check-icon" width="17" height="12">
              <use href="/images/icons.svg#icon-tick"></use>
            </svg>
          </span>
          <p class="support-txt">
            Never worry about overpaying for your energy again.
          </p>
        </li>
        <li class="support-list-item">
          <span class="check-icon-design">
            <svg class="check-icon" width="17" height="12">
              <use href="/images/icons.svg#icon-tick"></use>
            </svg>
          </span>
          <p class="support-txt">
            We will only switch you to energy companies that we trust and will
            treat you right
          </p>
        </li>
        <li class="support-list-item">
          <span class="check-icon-design blue-check">
            <svg class="check-icon" width="17" height="12">
              <use href="/images/icons.svg#icon-tick"></use>
            </svg>
          </span>
          <p class="support-txt">
            We track the markets daily and know where the savings are.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
