.footer-container {
  padding-bottom: 45px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 44px;
}

.footer-nav-block {
  align-items: center;
}

.footer-logo {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  margin-bottom: 25px;
}

.footer-social-links-list {
  display: flex;
  max-width: 162px;
  gap: 16px;
  margin-bottom: 32px;
}

.footer-social-links-item {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #edfffc;
}

.footer-social-links-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.social-icon {
  fill: transparent;
  stroke-width: 2px;
  stroke: #02897a;
}

.footer-nav-title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.footer-nav-resoursces-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.footer-nav-txt {
  line-height: 2.1875;
}

.footer-link-color {
  color: #22343d;
}

.footer-nav-stuff {
  align-items: center;
}

.footer-nav-stuff-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.footer-input-block-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav-subtitle {
  text-align: center;
  margin-bottom: 34px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  max-width: 280px;
}

.footer-input {
  width: 325px;
  height: 48px;
  padding: 10px 10px;
  margin-bottom: 21px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}

.mobile-icon {
  display: none;
}

.footer-input::placeholder {
  line-height: 1.75;
  color: transparent;
}

.footer-sun-btn {
  font-weight: 700;
  text-align: center;
  color: #fff;
  padding: 8px 15px;
  border-radius: 4px;
  background-color: #02897a;
}

.footer-made-with-love-txt {
  display: none;
}

.footer-made-with-love-txt-mob {
  line-height: 1.875;
  text-align: center;
}

@media screen and (min-width: 1158px) {
  .footer-container {
    padding-bottom: 40px;
  }
  .footer-nav {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .footer-nav-block {
    flex-direction: column;
    margin-right: 146px;
    padding-bottom: 121px;
  }
  .footer-logo {
    margin-bottom: 18px;
  }
  .footer-logo img {
    width: 39px;
    height: 36px;
  }
  .footer-social-links-list {
    margin-bottom: 0;
  }
  .footer-nav-resoursces {
    margin-right: 129px;
  }
  .footer-nav-resoursces-list {
    align-items: baseline;
    margin-bottom: 0;
  }
  .footer-nav-stuff {
    margin-right: 83px;
    min-width: 132px;
  }
  .footer-nav-title {
    text-align: start;
  }
  .footer-nav-stuff-list {
    align-items: baseline;
  }
  .optional-mob-link {
    display: none;
  }
  .footer-nav-subtitle {
    text-align: start;
    max-width: 325px;
    margin-bottom: 30px;
  }
  .footer-input-block-container {
    align-items: baseline;
  }
  .footer-nav-input-block {
    position: relative;
  }
  .footer-input {
    padding: 10px 43px;
    margin-bottom: 25px;
    position: relative;
  }

  .mobile-icon {
    display: inline-flex;
    position: absolute;
    top: 35%;
    left: 12px;
    transform: translateY(-50%);
    fill: #02897a;
  }

  .footer-input::placeholder {
    color: #02897a;
  }

  .footer-sun-btn {
    width: 131px;
    height: 39px;
  }

  .footer-made-with-love-txt-mob {
    display: none;
  }

  .footer-made-with-love-txt {
    display: block;
    line-height: 1.875;
    text-align: center;
  }
}