header {
  padding-bottom: 30px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
}

.logo {
  display: flex;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  gap: 8px;
  align-items: center;
  padding: 17px 0;
}

.header-nav-list {
  display: none;
}

.header-btn-list {
  display: none;
}

.burger-btn {
  background-color: transparent;
}

.burger-icon {
  stroke: #173a56;
}

@media screen and (min-width: 1158px) {
  header {
    padding-bottom: 25px;
  }

  .header-container {
    box-shadow: none;
  }

  .logo {
    gap: 16px;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-right: 237px;
  }
  .header-nav {
    display: flex;
    justify-content: space-between;
  }

  .header-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 26px auto;
  }

  .main-link {
    font-weight: 600;
    line-height: 1.75;
    color: #22343d;
  }

  .header-nav-list-link {
    display: block;
    line-height: 1.75;
    color: #22343d;
  }

  .header-btn-list {
    display: flex;
    gap: 21px;
    margin: 19px 0;
    align-items: center;
  }

  .btn-si {
    font-weight: 600;
    text-align: center;
    color: #173a56;
    background-color: #ffffff;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
    height: 42px;
  }

  .btn-su {
    font-weight: 600;
    color: #fff;
    padding: 9px 25px;
    border-radius: 4px;
    width: 113px;
    height: 42px;
    background-color: #02897a;
  }
  .burger-btn {
    display: none;
  }
}